<link rel="stylesheet" type="text/css" href="/messenger-boat/styles.css" />
<script src="/messenger-boat/scripts.js"></script>
<div class="messenger-boat">
    <a class="icon" href="javascript: MB.toggle()">
        <span class='dash'></span>
    </a>
</div>