.messenger-bot{
    position: fixed;
    right: 10px; bottom: 10px; z-index: 9999; }
    .messenger-bot.expand {
      width: 300px; height: 350px;
      border: solid 1px #333;
      background-color: #dcdcdc;}
      .messenger-bot.expand .icon{
        position: absolute;
        right: 5px; top: 5px;
        width: 20px; height: 20px; border: none;
        border-radius: 0; background-color: #dcdcdc;
        text-align: center;}
        .messenger-bot.expand .icon .dash{
          display: inline-block;
          background-color: #333;
          width: 80%; height: 1px;}
          .messenger-bot.expand .icon:hover{
          background-color: #666;}
      .messenger-bot.expand .content{
        width: calc(100% - 10px); height: calc(100% - 60px);
        margin-left: 5px; margin-right: 5px;
        margin-top: 30px;}
      .messenger-bot.expand .form {
        width: calc(100% - 10px); height: 30px;
        margin-left: 5px; margin-right: 5px;
        display: block;}
      .messenger-bot .icon{
      cursor: pointer;
      background-color: green;
      border: solid 1px #d9ccee;
      display: block;
      width: 30px; height: 30px; border-radius: 30px; }
      .messenger-bot .icon .dash{
        display: none;}
      .messenger-bot .icon:hover {
        background-color: lightgreen;}
      .messenger-bot .form {
        position: relative;
        display: none;}
        .messenger-bot .form .text {
          width: 100%;
          padding-right: 60px;
          float: left;}
        .messenger-bot .form .submit {
          position: absolute;
          right: 0px; width: 60px;
          float: right;}
  