<link rel="stylesheet" type="text/css" href="/messenger-bot/styles.css" />
<div class="messenger-bot">
    <a class="icon" href="javascript: MB.toggle()">
        <span class='dash'></span>
    </a>
    <div class="content">
    </div>
    <form class="form">
        <input class='text' />
        <input class='submit' type="submit" />
    </form>
</div>