<link rel="stylesheet" type="text/css" href="/messenger-bot/styles.css" />
<div class="messenger-bot">
    <a class="icon" href="javascript: MB.toggle()">
        <span class='dash'></span>
    </a>
    <div class="content">
        <ul class="messages">
        </ul>
    </div>
    <form class="form">
        <input name="text" class="text" />
        <input class="submit" type="submit" />
    </form>
</div>